<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  	http://www.springframework.org/schema/beans 
  	http://www.springframework.org/schema/beans/spring-beans.xsd
  	http://www.springframework.org/schema/tx
  	http://www.springframework.org/schema/tx/spring-tx.xsd
  	http://www.springframework.org/schema/util 
  	http://www.springframework.org/schema/util/spring-util-3.2.xsd
  	http://www.springframework.org/schema/aop
  	http://www.springframework.org/schema/aop/spring-aop.xsd
  	http://www.springframework.org/schema/context 
  	http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="io.bit_tiger.controller" />
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven />

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref = "dataSource"></property>
		<!-- Hibernate property list -->
		<property name="hibernateProperties" >		
		<props>
		<prop key = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
		<prop key = "hibernate.show_sql">true</prop>
		</props>		
		</property>
		
		<!-- **************************************************************
					mapping hibernate annotation classes 
		*****************************************************************-->
		<property name="annotatedClasses">
			<list>
	    		<value>io.bit_tiger.entity.App_Info</value>
			</list>
		</property>
	</bean>
	
	<!--<bean id = "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">-->
		<!--<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>-->
		<!--<property name="url" value="jdbc:mysql://127.0.0.1:3306/appstore"></property>-->
		<!--<property name="username" value="root"></property>-->
		<!--<property name="password" value="123"></property>-->
	<!--</bean>-->
	
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
		
	<!-- *******************************************************
			 Config about the beans defined for DAO 
	**********************************************************-->
	<bean id="api" class="io.bit_tiger.api.API" scope = "singleton">
		<property name ="appDao"><ref bean= "appDao"></ref></property>
	</bean>
	
	<bean id="appDao" class="io.bit_tiger.api.dao.impl.AppImpl" scope = "singleton">
		<property name="sessionFactory">
			<ref bean = "sessionFactory"/>
		</property>
	</bean>
	
	<!-- *******************************************************
	        config about the beans defined for Services 
	************************************************************-->
	<bean id="webapi" class = "io.bit_tiger.webapi.WebApi" scope = "singleton">
		<property name="appService"><ref bean="appService"></ref></property>
	</bean>
	
	<bean id="appService" class="io.bit_tiger.webapi.service.impl.AppServiceImpl" scope = "prototype">
		<property name = "api">
			<ref bean = "api"></ref>
		</property>
	</bean>
	
</beans>